.servers {
	padding: rem(50) rem(0) rem(125);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(25) rem(0);
	}
	&__container {
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: rem(15);
		grid-template-columns: repeat(auto-fit, minmax(rem(380), 1fr));
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(rem(330), 1fr));
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			gap: rem(20);
		}
	}
}

.server {
	background: #fff;
	padding: rem(22) rem(24);
	display: flex;
	flex-direction: column;
	@media (max-width: $tablet) {
		padding: rem(15) rem(20);
	}
	@media (max-width: $mobile) {
		padding: rem(10) rem(13) rem(18);
	}
	&__clear {
		position: absolute;
		top: rem(15);
		right: rem(15);
		width: rem(20);
		height: rem(20);
		z-index: 2;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 70%;
			height: rem(2);
			background: #000;
			border-radius: rem(4);
			transition: background 0.3s;
			transition: background 0.3s;
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background: $blue;
				}
			}
		}
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: rem(7);
		&:not(:last-child) {
			margin-bottom: rem(34);
			@media (max-width: $tablet) {
				margin-bottom: rem(25);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__slider {
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	&__track {
	}
	&__image {
	}
	&__pagination {
	}
	&__label-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(14);
		&:not(:last-child) {
			margin-bottom: rem(27);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(15);
			}
		}
	}
	&__label {
		height: rem(57);
		@media (min-width: $mobile) {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		@media (max-width: $tablet) {
			height: rem(47);
		}
		@media (max-width: $mobile) {
			height: auto;
		}
		a {
			font-weight: 500;
			font-size: rem(22);
			line-height: 1.3;
			color: #000;
			transition: opacity 0.3s;
			@media (max-width: $tablet) {
				font-size: rem(18);
			}
			@media (max-width: $mobile) {
				font-size: rem(16);
			}
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	&__descrs {
		flex: auto;
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(15);
			}
		}
	}
	&__descr {
		display: flex;
		align-items: center;
		gap: rem(14);
		line-height: 1.5;
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		span {
			&:first-child {
				color: #000;
			}
			&:last-child {
				font-size: rem(16);
				color: $gray;
				@media (max-width: $tablet) {
					font-size: rem(15);
				}
				@media (max-width: $mobile) {
					font-size: rem(14);
				}
				@media (max-width: $mobileSmall) {
					font-size: rem(13);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(6);
		}
	}
	&__price {
		font-weight: 500;
		font-size: rem(27);
		line-height: math.div(25, 20);
		color: #000;
		@media (max-width: $tablet) {
			font-size: rem(25);
		}
		@media (max-width: $mobile) {
			font-size: rem(22);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}
	&__price-descr {
		font-size: rem(14);
		color: #909195;
		line-height: math.div(15, 12);
		@media (max-width: $tablet) {
			font-size: rem(13);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
		&:not(:last-child) {
			margin-bottom: rem(25);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(15);
			}
		}
	}
	&__btns {
		display: flex;
		gap: rem(10);
	}
	&__btn {
		flex: auto;
		border-radius: rem(10);
		background: #eff4ff;
		padding: rem(10) rem(15);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: rem(16);
		color: $blue;
		height: rem(68);
		transition: 0.3s;
		@media (max-width: $tablet) {
			font-size: rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
			border-radius: rem(7);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #eff4ff;
				background: $blue;
			}
		}
		&_buy {
			@media (min-width: $tablet) {
				gap: rem(14);
			}
			@media (max-width: $tablet) {
				font-size: 0;
				flex: 0 0 rem(68);
				width: rem(68);
				background: $blue;
			}
			@media (max-width: $mobile) {
				font-size: 0;
			}
			@media (max-width: $mobileSmall) {
				font-size: 0;
			}
			svg {
				path {
					stroke: currentColor;
					@media (max-width: $tablet) {
						stroke: #fff;
					}
				}
			}
		}
	}
}
