.tests {
	overflow: hidden;
	padding: rem(50) rem(0);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(25) rem(0) rem(40);
	}
	&__container {
		display: flex;
		gap: rem(20);
		@media (min-width: $tablet) {
			justify-content: space-between;
			align-items: flex-start;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: rem(30);
		}
	}
}
.left-tests {
	@media (min-width: $tablet) {
		position: relative;
		z-index: 3;
	}
	@media (min-width: $tablet) {
		flex: 0 1 rem(780);
	}
	&__title {
		display: flex;
		align-items: center;
		gap: rem(52);
		font-size: rem(45);
		@media (max-width: $pc) {
			font-size: rem(40);
		}
		@media (max-width: $tablet) {
			font-size: rem(37);
			gap: rem(20);
		}
		@media (max-width: $mobile) {
			font-size: rem(30);
			gap: rem(10);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(25);
		}
		&::after {
			content: "";
			flex: 0 0 rem(100);
			width: rem(100);
			height: rem(122);
			background: url("@img/main/tests/title-decor.png") 50% / 100% no-repeat;
			@media (max-width: $mobile) {
				flex: 0 0 rem(82);
				width: rem(82);
				height: rem(101);
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__descr {
		font-size: rem(18);
		line-height: 1.3;
		color: #808080;
		@media (min-width: $pc) {
			margin-right: 17%;
		}
		@media (max-width: $tablet) {
			font-size: rem(17);
			line-height: 1.4;
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__btn {
		min-width: rem(246);
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.right-tests {
	min-width: 0;
	position: relative;
	&::before {
		@media (min-width: $tablet) {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: calc(100% + rem(10));
			background: #fbfbfb;
			width: 60vw;
			z-index: 2;
		}
	}
	@media (min-width: $tablet) {
		flex: 0 0 percent(680, 1660);
	}
	&__slider {
		overflow: visible;
	}
	&__wrapper {
	}
	&__slider-nav {
		position: absolute;
		right: rem(25);
		bottom: rem(30);
		@media (max-width: $tablet) {
			right: rem(20);
			bottom: rem(19);
		}
		@media (max-width: $mobile) {
			right: rem(12);
		}
	}
	&__slider-btn {
		&_prev {
		}
		&_next {
		}
	}
}

.test-slide {
	background: linear-gradient(104.09deg, #ffffff 11.13%, #ebf0fb 97.63%);
	border-radius: rem(15);
	padding: rem(30) rem(30) rem(110) rem(30);
	margin-right: rem(10);
	flex: 0 0 100%;
	min-height: rem(347);
	@media (min-width: em(1300)) {
		margin-right: rem(20);
	}
	@media (max-width: $tablet) {
		border-radius: rem(10);
		padding: rem(20) rem(20) rem(80) rem(20);
		min-height: rem(278);
	}
	@media (max-width: $mobile) {
		padding: rem(12) rem(12) rem(80) rem(12);
		min-height: rem(234);
	}
	&__descr {
		font-size: rem(14);
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #808080;
		line-height: math.div(18, 14);
		@media (max-width: $tablet) {
			font-size: rem(13);
		}
		@media (max-width: $mobile) {
			font-size: rem(12);
			letter-spacing: 0.02em;
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(11);
		}
		&:not(:last-child) {
			margin-bottom: rem(41);
			@media (max-width: $tablet) {
				margin-bottom: rem(35);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(23);
			}
		}
	}
	&__cap {
		font-family: $second-family;
		line-height: 1.2;
		color: #000;
		font-size: rem(22);
		@media (max-width: $tablet) {
			font-size: rem(20);
		}
		@media (max-width: $mobile) {
			font-size: rem(18);
			line-height: 1.5;
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(16);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__text {
		line-height: 1.4;
		color: #808080;
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
}
