// Базовые стили хлебных крошек
// Сниппет (HTML): breadcrumbs

.breadcrumbs {
	&:not(:last-child) {
		margin-bottom: rem(30);
		@media (max-width: $tablet) {
			margin-bottom: rem(25);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(20);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(15);
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(5);
		li {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				&::after {
					content: "";
					margin: 0 rem(12);
					flex: 0 0 rem(4);
					width: rem(4);
					height: rem(8);
					background: url("@img/icons/breadcrumbs-arrow.svg") 50% / 100% no-repeat;
					@media (max-width: $tablet) {
						margin: rem(0) rem(10);
					}
					@media (max-width: $mobile) {
						margin: rem(0) rem(8);
					}
				}
			}
		}
	}
	&__link,
	&__item {
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: #808080;
		@media (max-width: $tablet) {
			font-size: rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				text-decoration-skip-ink: none;
			}
		}
	}
}
