[data-showmore] {
}
[data-showmore-content] {
}
[data-showmore-button] {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: rem(16);
	color: $blue;
	gap: rem(10);
	margin-top: rem(35);
	line-height: math.div(20, 16);
	@media (max-width: $tablet) {
		margin-top: rem(25);
	}
	svg {
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(6);
		transition: transform 0.3s;
	}
	span {
		&:nth-child(2) {
			display: none;
		}
	}
	._showmore-active & {
		svg {
			transform: rotate(180deg);
		}
		span {
			&:first-child {
				display: none;
			}
			&:nth-child(2) {
				display: block;
			}
		}
	}
}
