//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	display: inline-flex;
	align-items: center;
	gap: rem(15);
	&__button {
		font-size: rem(18);
		color: #000;
		&_plus {
		}
		&_minus {
		}
	}
	&__input {
		flex: 0 0 rem(20);
		input {
			height: 100%;
			color: #000;
			font-size: rem(18);
			width: 100%;
			text-align: center;
		}
	}
}
