.radio {
	cursor: pointer;
	position: relative;
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .radio__text::before {
			box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.2);
		}
		&:checked + .radio__text::after {
			opacity: 1;
		}
	}
	&__text {
		line-height: math.div(21, 17);
		display: flex;
		gap: rem(10);
		position: relative;
		padding-left: rem(37);
		color: $gray;
		@media (max-width: $tablet) {
			gap: rem(5);
			font-size: rem(15);
			padding-left: rem(32);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
			padding-left: rem(24);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
		}
		span {
			&:first-child {
				flex: auto;
				display: flex;
				align-items: flex-end;
				white-space: nowrap;
				gap: rem(8);
				@media (max-width: $tablet) {
					gap: rem(5);
				}

				&::after {
					content: "";
					min-width: rem(40);
					flex: auto;
					border-bottom: rem(1) dashed #c5c5c5;
				}
			}
			&:last-child {
				font-size: rem(18);
				text-align: right;
				color: $gray;
				@media (max-width: $tablet) {
					font-size: rem(16);
				}
				@media (max-width: $mobile) {
					font-size: rem(14);
				}
				@media (max-width: $mobileSmall) {
					font-size: rem(13);
				}
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
			border-radius: rem(5);
			width: rem(22);
			height: rem(22);
			@media (max-width: $tablet) {
				width: rem(20);
				height: rem(20);
			}
			@media (max-width: $mobile) {
				width: rem(18);
				height: rem(18);
			}
		}
		&::before {
			border: rem(1) solid #ddd;
		}
		&::after {
			background: url("@img/icons/filter-check.svg") 50% / 100% no-repeat;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}
}
