.noUi-base {
	height: rem(3);
	position: relative;
	z-index: 1;
	background: #eaeaea;
	border-radius: rem(5);
}

.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	transform-style: flat;
}

.noUi-horizontal {
	height: rem(13);
}

.noUi-connect {
	background: $blue;
}

.noUi-handle {
	position: absolute;
	width: rem(13);
	height: rem(13);
	right: rem(-6);
	top: rem(-6);
	background-color: $blue;
	border-radius: 50%;
	cursor: pointer;
}
