@font-face {
	font-family: CoFoSans;
	font-display: swap;
	src: url("../fonts/CoFoSans-Bold.woff2") format("woff2"), url("../fonts/CoFoSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CoFoSans;
	font-display: swap;
	src: url("../fonts/CoFoSans-Medium.woff2") format("woff2"), url("../fonts/CoFoSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: CoFoSans;
	font-display: swap;
	src: url("../fonts/CoFoSans-Regular.woff2") format("woff2"), url("../fonts/CoFoSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IgraSans;
	font-display: swap;
	src: url("../fonts/IgraSans.woff2") format("woff2"), url("../fonts/IgraSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
