.catalog {
	padding: rem(45) rem(0) rem(50);
	@media (max-width: $tablet) {
		padding: rem(35) rem(0) rem(40);
	}
	@media (max-width: $mobile) {
		padding: rem(30) rem(0) rem(10);
	}
	&__container {
	}
	&__title-wrapper {
		display: flex;
		align-items: center;
		gap: rem(19);
		@media (max-width: $tablet) {
			gap: rem(15);
		}
		@media (max-width: $mobile) {
			gap: rem(10);
		}
		&:not(:last-child) {
			margin-bottom: rem(38);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
		}
	}
	&__title {
	}
	&__count {
		font-size: rem(15);
		line-height: math.div(19, 15);
		color: $blue;
		padding-left: rem(19);
		position: relative;
		@media (max-width: $tablet) {
			font-size: rem(14);
			padding-left: rem(15);
		}
		@media (max-width: $mobile) {
			padding-left: rem(10);
			font-size: rem(13);
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: rem(2);
			height: rem(36);
			background: currentColor;
			transform: translate(0, -50%);
			@media (max-width: $tablet) {
				height: rem(29);
			}
			@media (max-width: $mobile) {
				height: rem(22);
			}
		}
	}
	&__body {
		display: grid;
		grid-template-columns: rem(400) 1fr;
		gap: rem(20);
		@media (max-width: $pc) {
			grid-template-columns: rem(360) 1fr;
			gap: rem(15);
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	&__right {
	}
	&__cols {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(auto-fit, minmax(rem(380), 1fr));
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(rem(330), 1fr));
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
		&:not(:last-child) {
			margin-bottom: rem(70);
			@media (max-width: $pc) {
				margin-bottom: rem(50);
			}
			@media (max-width: $tablet) {
				margin-bottom: rem(40);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(25);
			}
		}
	}
	&__bottom {
	}
	&__content {
	}
}

.aside-catalog {
	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		z-index: 3;
		background-color: #fff;
		padding: rem(20) rem(20) rem(10);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: 0.3s;
	}
	.filter-show & {
		@media (max-width: $tablet) {
			left: 0;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		gap: rem(20);
		@media (min-width: $tablet) {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__title {
		font-size: rem(20);
		font-weight: 500;
		font-family: $second-family;
	}
	&__close {
		flex: 0 0 rem(25);
		width: rem(25);
		height: rem(25);
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: rem(2);
			background: #000;
			transition: background 0.3s;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__col {
		@media (min-width: $tablet) {
			padding: rem(25);
			background-color: #fff;
			border-radius: rem(15);
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}
.aside-cats {
	&__spollers {
	}
	&__spoller {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(25);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__link,
	&__title {
		color: $gray;
		line-height: math.div(21, 17);
		display: flex;
		transition: opacity 0.3s;
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__title {
		width: 100%;
		text-align: left;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			flex: 0 0 rem(10);
			width: rem(10);
			height: rem(2);
			background: $green;
			transform: translate(-50%, -50%);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
			transition: opacity 0.3s;
		}
		&._spoller-active {
			&::after {
				opacity: 0;
			}
		}
	}
	&__body {
		padding-top: rem(12);
		padding-left: rem(10);
		@media (max-width: $tablet) {
			padding-top: rem(10);
			padding-left: rem(5);
		}
	}
	&__list {
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(12);
			@media (max-width: $tablet) {
				margin-bottom: rem(10);
			}
		}
		a {
			font-size: rem(16);
			line-height: math.div(20, 16);
			color: #808080;
			transition: color 0.3s;
			@media (max-width: $tablet) {
				font-size: rem(15);
			}
			@media (max-width: $mobile) {
				font-size: rem(14);
			}
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}
.aside-title {
	font-family: $second-family;
	font-size: rem(22);
	color: #000;
	padding-bottom: rem(18);
	border-bottom: rem(1) solid #e8e8e8;
	@media (max-width: $tablet) {
		font-size: rem(20);
		padding-bottom: rem(15);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(18);
	}
	&:not(:last-child) {
		margin-bottom: rem(18);
		@media (max-width: $tablet) {
			margin-bottom: rem(15);
		}
	}
}

.aside-filter {
	@media (min-width: $tablet) {
		padding: rem(25) rem(25) rem(10);
	}
	&__label {
		padding-bottom: rem(30);
		@media (max-width: $tablet) {
			padding-bottom: rem(15);
		}
		&:not(:last-child) {
			margin-bottom: rem(25);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__spollers {
	}
	&__spoller {
		padding: rem(15) rem(0);
		@media (max-width: $tablet) {
			padding: rem(10) rem(0);
		}
		&:not(:last-child) {
			border-bottom: rem(1) solid #e8e8e8;
		}
	}
	&__title {
		width: 100%;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		font-size: rem(18);
		color: $gray;
		transition: opacity 0.3s;
		line-height: math.div(23, 18);
		padding: rem(5) rem(0);
		@media (max-width: $tablet) {
			font-size: rem(17);
		}
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
		&._spoller-active {
			.aside-filter__arrow {
				transform: rotate(180deg);
			}
		}
	}
	&__arrow {
		flex: 0 0 rem(14);
		width: rem(14);
		height: rem(7);
		transition: transform 0.3s;
		color: #1ee099;
	}
	&__body {
		padding-top: rem(15);
		@media (max-width: $mobile) {
			padding-top: rem(10);
		}
	}
	&__checkbox {
		display: flex;
		flex-direction: column;
		gap: rem(15);
	}
}
.filter-price {
	padding-bottom: rem(25);
	border-bottom: rem(1) solid #e8e8e8;
	@media (max-width: $tablet) {
		padding-bottom: rem(20);
	}
	&:not(:last-child) {
		margin-bottom: rem(5);
	}
	&__cap {
		font-weight: 500;
		color: $gray;
		line-height: math.div(21, 17);
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	&__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(10);
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	&__inp-wrapper {
		position: relative;
	}
	&__descr {
		font-size: rem(14);
		line-height: 1.5;
		color: #a7a7a7;
		background-color: #fff;
		padding: rem(0) rem(2);
		position: absolute;
		top: 0;
		left: rem(19);
		transform: translate(0, -50%);
		pointer-events: none;
	}
	&__input {
		border-radius: rem(9) !important;
		width: 100%;
		display: block;
		padding: rem(0) rem(18);
		border: rem(1) solid #e8e9eb;
		font-size: rem(15);
		color: #010215;
		height: rem(65);
		&:focus {
			outline: none;
			border-color: $mainColor;
		}
	}
	&__slider {
	}
}

.top-catalog {
	display: flex;
	justify-content: space-between;
	gap: rem(20);
	@media (min-width: $mobileSmall) {
		align-items: flex-start;
	}
	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
	@media (max-width: $mobile) {
		gap: rem(15);
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	&:not(:last-child) {
		margin-bottom: rem(50);
		@media (max-width: $tablet) {
			margin-bottom: rem(40);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(25);
		}
	}
	&__filter-show {
		background: #eff4ff;
		border-radius: rem(30);
		padding: rem(20);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: rem(10);
		min-height: rem(60);
		font-weight: 500;
		font-size: rem(13);
		color: $blue;
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
		@media (min-width: $tablet) {
			display: none;
		}
	}
	&__icon {
		flex: 0 0 rem(18);
		width: rem(18);
		height: rem(18);
	}
}
.catalog-tags {
	flex: 0 0 60%;
	display: flex;
	gap: rem(10);
	flex-wrap: wrap;
	@media (max-width: $tablet) {
		flex: 0 0 100%;
	}
	@media (max-width: $mobile) {
		gap: rem(5);
	}
	&__item {
		button {
			border: rem(1) solid #f3f3f3;
			border-radius: rem(30);
			padding: rem(15) rem(20);
			min-height: rem(60);
			background-color: #fff;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: rem(16);
			color: $gray;
			line-height: math.div(20, 16);
			transition: all 0.3s;
			@media (max-width: $tablet) {
				font-size: rem(15);
				padding: rem(15) rem(10);
				min-height: rem(54);
			}
			@media (max-width: $mobile) {
				padding: rem(10);
				font-size: rem(14);
				min-height: rem(48);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(12);
			}
			&.active {
				color: #fff;
				background: $green;
			}
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					background: $green;
				}
			}
		}
	}
}
.catalog-sort {
	display: flex;
	gap: rem(20);
	@media (min-width: $mobileSmall) {
		align-items: center;
	}
	@media (max-width: $tablet) {
		gap: rem(15);
	}
	@media (max-width: $mobile) {
		gap: rem(10);
	}
	@media (max-width: $mobileSmall) {
		// width: 100%;
		flex-direction: column;
	}
	&__descr {
		font-size: rem(16);
		color: $gray;
		white-space: nowrap;
		@media (max-width: $tablet) {
			font-size: rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(13);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
	}
	&__wrapper {
		position: relative;
	}
	&__title {
		min-width: rem(225);
		border-radius: rem(10);
		padding: rem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
		min-height: rem(64);
		background-color: #fff;
		font-size: rem(16);
		color: #909195;
		transition: color 0.3s;
		@media (max-width: $tablet) {
			font-size: rem(15);
			min-height: rem(57);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		.is-open & {
			color: $mainColor;
			.catalog-sort__arrow {
				transform: rotate(180deg);
			}
		}
	}
	&__arrow {
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(5);
		transition: transform 0.3s;
	}
	&__sub {
		position: absolute;
		top: calc(100% - rem(10));
		left: 0;
		width: 100%;
		background-color: #fff;
		border-radius: rem(10);
		display: flex;
		flex-direction: column;
		padding: rem(15) rem(20);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: 0.3s;
		.is-open & {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			top: calc(100% + rem(1));
		}
		button {
			color: #909195;
			text-align: left;
			transition: color 0.3s;
			padding: rem(5) rem(0);
			@media (max-width: $tablet) {
				font-size: rem(15);
			}
			@media (max-width: $mobile) {
				font-size: rem(14);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(13);
			}
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
			&.is-active {
				color: $mainColor;
			}
			&:not(:last-child) {
				margin-bottom: rem(5);
			}
		}
	}
}
