.title {
	font-family: $second-family;
	font-size: rem(40);
	line-height: 1.2;
	color: #000;
	@media (max-width: $tablet) {
		font-size: rem(34);
	}
	@media (max-width: $mobile) {
		font-size: rem(28);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(23);
	}
}

.slider-nav {
	display: flex;
	gap: rem(12);
	@media (max-width: $tablet) {
		gap: rem(10);
	}
	&__btn {
		flex: 0 0 rem(64);
		width: rem(64);
		height: rem(64);
		border-radius: rem(10);
		background: #fbfbfb url("@img/icons/slider-arrow.svg") 50% no-repeat;
		transition: opacity 0.3s;
		@media (max-width: $pc) {
			background-color: #fff;
		}
		@media (max-width: $tablet) {
			flex: 0 0 rem(51);
			width: rem(51);
			height: rem(51);
		}
		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.3;
		}
		&_prev {
		}
		&_next {
			transform: rotate(180deg);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.slider-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(6);
	.swiper-pagination-bullet {
		flex: 0 0 rem(6);
		width: rem(6);
		height: rem(6);
		border-radius: rem(3);
		background: #dbdbdb;
		transition: 0.3s;
	}
	.swiper-pagination-bullet-active {
		background: $blue;
		flex: 0 0 rem(18);
		width: rem(18);
		height: rem(3);
	}
}

//========================================================================================================================================================

.content {
	.content-text {
		&:not(:last-child) {
			margin-bottom: rem(35);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(20);
			}
		}
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: rem(15);
		&:not(:last-child) {
			margin-bottom: rem(25);
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	h2 {
		font-family: $second-family;
		font-size: rem(30);
		line-height: 1.3;
		color: #000;
		font-weight: 500;
		@media (max-width: $tablet) {
			font-size: rem(26);
		}
		@media (max-width: $mobile) {
			font-size: rem(22);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	h3 {
		font-family: $second-family;
		font-size: rem(25);
		color: $gray;
		line-height: 1.2;
		@media (max-width: $tablet) {
			font-size: rem(23);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	p {
		font-size: rem(18);
		line-height: 1.3;
		color: #808080;
		@media (max-width: $tablet) {
			font-size: rem(17);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(25);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
		&.p-cap {
			font-weight: 500;
			color: #000;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
	ul {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(25);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
		li {
			line-height: 1.4;
			color: #808080;
			display: flex;
			align-items: center;
			gap: rem(10);
			@media (max-width: $tablet) {
				font-size: rem(16);
			}
			@media (max-width: $mobile) {
				font-size: rem(15);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(14);
			}
			&::before {
				content: "";
				flex: 0 0 rem(10);
				width: rem(10);
				height: rem(10);
				border-radius: 50%;
				background: $green;
			}

			&:not(:last-child) {
				margin-bottom: rem(7);
			}
		}
		&.line-list {
			li {
				gap: rem(7);
				&::before {
					flex: 0 0 rem(15);
					width: rem(15);
					height: rem(2);
					background: $blue;
				}
			}
		}
	}
}

//========================================================================================================================================================

.tag {
	border: rem(1) solid #ff9000;
	border-radius: rem(10);
	padding: rem(10) rem(15);
	min-height: rem(49);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: rem(14);
	color: #ff9000;
	@media (max-width: $tablet) {
		font-size: rem(13);
		min-height: rem(42);
	}
	@media (max-width: $mobile) {
		padding: rem(10);
		font-size: rem(12);
		min-height: rem(34);
		border-radius: rem(7);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(11);
	}
	&_discount,
	&_avail,
	&_stock {
		gap: rem(10);
		font-size: rem(15);
		@media (max-width: $tablet) {
			font-size: rem(13);
		}
		@media (max-width: $mobile) {
			font-size: rem(12);
			gap: rem(7);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(11);
		}
		&::before {
			content: "";
		}
	}
	&_discount {
		color: #a100ff;
		border-color: rgba(162, 0, 255, 0.2);
		&::before {
			content: "";
			flex: 0 0 rem(24);
			width: rem(24);
			height: rem(24);
			background: url("@img/icons/discount-icon.svg") 50% / 100% no-repeat;
		}
	}
	&_stock {
		color: #0dd359;
		border-color: rgba(13, 211, 89, 0.2);
		&::before {
			flex: 0 0 rem(12);
			width: rem(12);
			height: rem(12);
			background: currentColor;
			border-radius: 50%;
			@media (max-width: $tablet) {
				flex: 0 0 rem(8);
				width: rem(8);
				height: rem(8);
			}
		}
	}
	&_avail {
		color: #ff3d00;
		border-color: rgba(255, 61, 0, 0.2);
		&::before {
			flex: 0 0 rem(25);
			width: rem(25);
			height: rem(25);
			background: url("@img/icons/avail-icon.svg") 50% / 100% no-repeat;
			@media (max-width: $tablet) {
				flex: 0 0 rem(17);
				width: rem(17);
				height: rem(17);
			}
		}
	}
}

.product-rating {
	line-height: 1.4;
	color: $gray;
	display: inline-flex;
	align-items: center;
	gap: rem(7);
	@media (max-width: $tablet) {
		font-size: rem(16);
	}
	@media (max-width: $mobile) {
		font-size: rem(15);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(14);
	}
	&::before {
		content: "";
		flex: 0 0 rem(21);
		width: rem(21);
		height: rem(21);
		background: url("@img/icons/rating.svg") 50% / 100% no-repeat;
		@media (max-width: $mobile) {
			flex: 0 0 rem(16);
			width: rem(16);
			height: rem(16);
		}
	}
}

// [data-tooltip] {
// 	position: relative;
// 	cursor: pointer;
// 	&::before {
// 		content: attr(data-tooltip);
// 		position: absolute;
// 		bottom: 130%;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		background-color: #333;
// 		color: #fff;
// 		padding: rem(6) rem(10);
// 		border-radius: rem(5);
// 		// white-space: nowrap;
// 		line-height: 1.1;
// 		font-size: 13px;
// 		opacity: 0;
// 		pointer-events: none;
// 		transition: opacity 0.3s;
// 		z-index: 10;
// 		max-width: 100%;
// 	}
// 	@media (any-hover: hover) {
// 		&:hover {
// 			&::before {
// 				opacity: 1;
// 			}
// 		}
// 	}
// }

.product-slider {
	overflow: hidden;
	position: relative;
	width: 100%;
	touch-action: pan-y;
}
.product-track {
	display: flex;
	transition: transform 0.3s ease;
	will-change: transform;
}
.product-item {
	flex: 0 0 100%;
	user-select: none;
	background: #fbfbfb;
	img {
		-webkit-user-drag: none;
		width: 100%;
		height: auto;
	}
}
.product-pagination {
	position: absolute;
	bottom: rem(7);
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	gap: rem(6);
	button {
		border-radius: rem(3);
		flex: 0 0 rem(26);
		width: rem(26);
		height: rem(3);
		background: #eaeaea;
		transition: background 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background: $blue;
			}
		}
		&.active {
			background: $blue;
		}
	}
}
