.comp {
	padding: rem(45) rem(0) rem(100);
	@media (max-width: $tablet) {
		padding: rem(35) rem(0) rem(80);
	}
	@media (max-width: $mobile) {
		padding: rem(30) rem(0) rem(50);
	}
	&__container {
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__top {
		display: flex;
		align-items: center;
		gap: rem(20);
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			align-items: flex-start;
			gap: rem(15);
		}
	}
	&__clear {
		display: inline-flex;
		align-items: center;
		gap: rem(7);
		font-size: rem(14);
		line-height: 1.5;
		color: #010215;
		@media (min-width: $mobile) {
			margin-left: auto;
		}
		@media (max-width: $mobile) {
			font-size: rem(13);
		}
		&::before {
			content: "";
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			background: url("@img/icons/clear-btn-decor.svg") 50% / 100% no-repeat;
		}
	}
	&__slider {
		border-radius: 0 rem(15) rem(15) rem(15);
		background-color: #fff;
		padding: rem(20) rem(15);
		&:not(:last-child) {
			margin-bottom: rem(50);
			@media (max-width: $tablet) {
				margin-bottom: rem(40);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(30);
			}
		}
	}
	&__wrapper {
	}
	&__server {
		margin-right: rem(10);
		position: relative;
		backdrop-filter: blur(15px);
		box-shadow:
			0 6px 12px 0 rgba(227, 227, 227, 0.1),
			0 22px 22px 0 rgba(227, 227, 227, 0.09),
			0 50px 30px 0 rgba(227, 227, 227, 0.05),
			0 88px 35px 0 rgba(227, 227, 227, 0.01),
			0 138px 39px 0 rgba(227, 227, 227, 0);
		flex: 0 0 calc((100% - rem(30)) / 4);
		@media (max-width: $pc) {
			flex: 0 0 calc((100% - rem(20)) / 3);
		}
		@media (max-width: em(1299.98)) {
			flex: 0 0 calc((100% - rem(10)) / 2);
		}
		@media (max-width: $mobile) {
			flex: 0 0 100%;
		}
	}
}
.comp-filter {
	display: flex;
	gap: rem(5);
	&__item {
		padding: rem(12) rem(20);
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: rem(64);
		gap: rem(8);
		line-height: 1.5;
		font-size: rem(16);
		color: #000;
		border-bottom: rem(2) solid transparent;
		transition: border-color 0.3s;
		@media (max-width: $tablet) {
			min-height: rem(57);
			font-size: rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
			padding: rem(12) rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
		}
		&_active {
			border-color: $blue;
		}
	}
	&__delete {
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(12);
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 70%;
			height: rem(2);
			background: $blue;
			border-radius: rem(4);
			transition: background 0.3s;
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background: $mainColor;
				}
			}
		}
	}
}
.comp-char {
	&__label {
		font-family: $second-family;
		font-size: rem(22);
		color: #000;
		@media (max-width: $tablet) {
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__lines {
		border-radius: rem(15);
		background-color: #fff;
		padding: rem(20) rem(15);
	}
}
.char {
	&:not(:last-child) {
		padding-bottom: rem(25);
		margin-bottom: rem(20);
		border-bottom: rem(1) solid #e8e8e8;
		@media (max-width: $tablet) {
			padding-bottom: rem(20);
		}
		@media (max-width: $mobile) {
			padding-bottom: rem(15);
			margin-bottom: rem(15);
		}
	}
	&__cap {
		font-size: rem(14);
		line-height: math.div(18, 14);
		text-transform: uppercase;
		color: #909195;
		@media (max-width: $mobile) {
			font-size: rem(13);
		}
		&:not(:last-child) {
			margin-bottom: rem(23);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(15);
			}
		}
	}
	&__cols {
		display: flex;
		overflow-x: auto;
		scrollbar-width: none;
		scroll-behavior: smooth;
		transition: scroll-left 0.3s ease;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__col {
		color: $gray;
		line-height: math.div(21, 17);
		flex: 0 0 24.53%;
		@media (max-width: $pc) {
			flex: 0 0 32.84%;
		}
		@media (max-width: em(1299.98)) {
			flex: 0 0 49.45%;
		}
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
			flex: 0 0 100%;
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		&:not(:last-child) {
			margin-right: rem(10);
		}
	}
}
