.header {
	box-shadow:
		0 8px 18px 0 rgba(207, 207, 207, 0.1),
		0 32px 32px 0 rgba(207, 207, 207, 0.09),
		0 72px 43px 0 rgba(207, 207, 207, 0.05),
		0 128px 51px 0 rgba(207, 207, 207, 0.01),
		0 200px 56px 0 rgba(207, 207, 207, 0);
	background: #fff;
	border-radius: 0 0 rem(20) rem(20);
	position: relative;
	@media (max-width: $mobile) {
		position: sticky;
		top: rem(-30);
		left: 0;
		width: 100%;
		z-index: 3;
	}
}
.top-header {
	padding: rem(9) rem(0);
	background: #fafbfa;
	@media (max-width: $tablet) {
		display: none;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		gap: rem(40);
	}
	&__item {
		a {
			font-size: rem(15);
			line-height: math.div(19, 15);
			color: $gray;
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}
.header-socials {
	display: flex;
	gap: rem(10);
	&__social {
		flex: 0 0 rem(25);
		width: rem(25);
		height: rem(25);
		display: flex;
		a {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: $blue;
				}
			}
		}
	}
	&__social-icon {
		&_tg {
			flex: 0 0 rem(21);
			width: rem(21);
			height: rem(18);
		}
		&_vk {
			flex: 0 0 rem(22);
			width: rem(22);
			height: rem(14);
		}
		&_inst {
			flex: 0 0 rem(19);
			width: rem(19);
			height: rem(20);
		}
	}
}
.middle-header {
	padding: rem(18) rem(0);
	border-bottom: rem(1) solid #e8e8e8;
	@media (max-width: $tablet) {
		display: none;
	}
	&__container {
		display: flex;
		align-items: flex-end;
		gap: rem(38);
		@media (max-width: em(1419.98)) {
			gap: rem(25);
		}
	}
	&__logo {
		flex: 0 0 rem(176);
		width: rem(173);
		align-self: flex-start;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__btn {
		font-weight: 500;
		font-size: rem(15);
		color: $blue;
		padding: rem(22) rem(20);
		border-radius: rem(5);
		background: rgba(93, 145, 254, 0.1);
		transition: 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background: $blue;
			}
		}
	}
}
.header-contacts {
	margin-left: auto;
	&__cols {
		display: flex;
		gap: rem(38);
		@media (max-width: em(1419.98)) {
			gap: rem(25);
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(7);
		position: relative;
		text-align: right;
		@media (min-width: em(1520)) {
			padding-left: rem(39);
		}
		@media (max-width: em(1339.98)) {
			padding-left: rem(39);
		}
		@media (max-width: em(1099.98)) {
			padding-left: 0;
		}
		&_address {
			@media (max-width: em(1339.98)) {
				display: none;
			}
		}
	}
	&__col-icon {
		position: absolute;
		top: 0;
		left: 0;
		flex: 0 0 rem(24);
		width: rem(24);
		height: rem(24);
		@media (max-width: em(1519.98)) {
			display: none;
		}
		@media (max-width: em(1339.98)) {
			display: block;
		}
		@media (max-width: em(1099.98)) {
			display: none;
		}
	}
	&__address,
	&__mail,
	&__phone {
		font-weight: 700;
		color: #000;
		line-height: math.div(21, 17);
	}
	&__mail,
	&__phone {
		transition: opacity 0.3s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__worktime {
		font-size: rem(16);
		color: #717171;
		line-height: math.div(20, 16);
	}
}

a.header-contacts__link {
	font-size: rem(16);
	line-height: math.div(20, 16);
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #717171;
	transition: color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
		}
	}
}
.auth-actions {
	display: flex;
	gap: rem(34);
	@media (max-width: em(1419.98)) {
		gap: rem(25);
	}
	&__item {
	}
	&__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: rem(11);
		color: #909195;
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
	&__icon {
		flex: 0 0 rem(24);
		width: rem(24);
		height: rem(24);
		color: #000;
	}
	&__descr {
		font-size: rem(15);
		transition: color 0.3s;
	}
}
.bottom-header {
	padding: rem(18) rem(0) rem(27);
	@media (max-width: $tablet) {
		padding: rem(20) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(50) rem(0) rem(20);
	}
	.header-scroll & {
		@media (max-width: $mobile) {
			padding: rem(20) rem(0);
		}
	}
	&__container {
		display: flex;
		align-items: center;
		gap: rem(40);
		@media (max-width: em(1419.98)) {
			gap: rem(25);
		}
		@media (max-width: $tablet) {
			gap: rem(40);
		}
		@media (max-width: $mobile) {
			gap: rem(20);
			justify-content: space-between;
		}
	}
	&__menu-icon {
		flex: 0 0 rem(60);
		width: rem(60);
		height: rem(62);
		border-radius: rem(8);
		overflow: hidden;
		background: #111318;
		grid-template-columns: rem(7) rem(7);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s;
		position: relative;
		@media (max-width: $tablet) {
			flex: 0 0 rem(56);
			width: rem(56);
			height: rem(56);
			border-radius: rem(5);
			background: #f8f8f8;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 0;
			background: $blue;
			transition: width 0.3s;
		}
		.menu-open & {
			&::before {
				width: 100%;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__menu-decor {
		max-width: rem(20);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem(4);
		transition: transform 0.3s;
		.menu-open & {
			transform: rotate(45deg);
		}
		@media (max-width: $tablet) {
			max-width: rem(18);
			gap: rem(3);
		}
		span {
			width: rem(7);
			height: rem(7);
			border-radius: rem(2);
			background-color: #fff;
			display: flex;
			@media (max-width: $tablet) {
				background-color: #000;
				width: rem(6);
				height: rem(6);
			}
		}
	}
	&__logo {
		img {
			width: 100%;
			height: auto;
		}
		@media (min-width: $tablet) {
			display: none;
		}
		@media (max-width: $tablet) {
			flex: 0 0 rem(165);
			width: rem(165);
		}
		@media (max-width: $mobile) {
			flex: 0 0 rem(144);
			width: rem(144);
		}
		@media (max-width: $mobileSmall) {
			flex: 0 0 rem(137);
			width: rem(137);
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@media (min-width: em(1520)) {
			margin-left: rem(35);
		}
		@media (max-width: em(1339.98)) {
			gap: rem(25);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__item {
		&:last-child {
			@media (max-width: em(1219.98)) {
				display: none;
			}
		}
		&:not(:last-child) {
			padding-right: rem(40);
			position: relative;
			@media (max-width: em(1419.98)) {
				padding-right: rem(20);
			}
			@media (max-width: em(1339.98)) {
				padding-right: rem(0);
			}
			&::after {
				@media (min-width: em(1340)) {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					width: rem(1);
					height: rem(30);
					background: #e6e6e6;
					transform: translate(0, -50%);
				}
			}
		}
		&:not(:first-child) {
			padding-left: rem(40);
			@media (max-width: em(1419.98)) {
				padding-left: rem(20);
			}
			@media (max-width: em(1339.98)) {
				padding-left: 0;
			}
		}
	}
	&__link {
		color: $gray;
		display: inline-flex;
		align-items: center;
		gap: rem(7);
		transition: 0.3s;
		span {
			transition: 0.3s;
			white-space: nowrap;
			max-width: rem(200);
			.search-show & {
				max-width: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		.search-show & {
			gap: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
.header-search {
	display: flex;
	height: rem(62);
	@media (min-width: $tablet) {
		gap: rem(13);
	}
	@media (min-width: $tablet) {
		justify-content: flex-end;
		flex: auto;
	}
	@media (max-width: $tablet) {
		margin-left: auto;
		height: rem(48);
	}
	@media (max-width: $mobile) {
		margin-left: 0;
	}
	&__sub-wrapper {
		position: relative;
		transition: 0.3s;
		pointer-events: none;
		opacity: 0;
		@media (min-width: $tablet) {
			flex: 0 0 0;
			width: 0;
		}
		@media (max-width: $tablet) {
			position: absolute;
			z-index: 2;
			left: rem(20);
			right: rem(20);
			top: calc(100% - rem(10));
		}
		&::after {
			@media (min-width: $tablet) {
				content: "";
				position: absolute;
				right: rem(29);
				left: rem(29);
				height: rem(1);
				top: 100%;
				background: #000;
				z-index: 2;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.3s;
			}
		}
		.sub-search-show & {
			&::after {
				@media (min-width: $tablet) {
					opacity: 1;
				}
			}
		}
		.search-show & {
			opacity: 1;
			pointer-events: auto;
			@media (min-width: $tablet) {
				flex: auto;
				width: 100%;
			}
			@media (max-width: $tablet) {
				top: calc(100% + rem(3));
			}
		}
	}
	&__input {
		border-radius: rem(10);
		background: #f9f9f9;
		z-index: 2;
		font-size: rem(16);
		color: #000;
		height: 100%;
		width: 100%;
		transition: 0.3s;
		@media (min-width: $tablet) {
			padding: 0;
		}
		@media (max-width: $tablet) {
			padding: rem(0) rem(20);
			height: rem(48);
			background-color: #fff;
			border: rem(1) solid #e8e8e8;
		}
		.sub-search-show & {
			border-radius: rem(10) rem(10) 0 0;
			background-color: #fff;
		}
		.search-show & {
			@media (min-width: $tablet) {
				padding: rem(0) rem(29);
			}
		}
		&:focus {
			outline: none;
		}
	}
	&__btn {
		position: relative;
		flex: 0 0 rem(60);
		width: rem(60);
		border-radius: rem(10);
		background: $blue;
		transition: 0.3s;
		@media (max-width: $tablet) {
			flex: 0 0 rem(48);
			width: rem(48);
			border-radius: rem(5);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(24);
			height: rem(24);
			transition: opacity 0.3s;
			background: url("@img/icons/search-icon.svg") 50% / 100% no-repeat;
		}
		&::after {
			width: rem(8);
			height: rem(8);
			background-image: url("@img/icons/search-close.svg");
			opacity: 0;
		}
		.search-show & {
			background: #f9f9f9;
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 1;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.header-search-sub {
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 2;
	padding: rem(40) 0 rem(25);
	border-radius: 0 0 rem(10) rem(10);
	// background: rgba(red, 0.4);
	max-height: rem(3 * 88 + 40);
	overflow-y: auto;
	scrollbar-width: none;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
	.sub-search-show & {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	@media (max-width: $pc) {
		padding: rem(20) rem(0);
	}
	@media (max-width: $tablet) {
		padding: rem(14) rem(0);
		max-height: rem(3 * 78 + 20);
		border: rem(1) solid #e8e8e8;
		border-top: none;
	}
	@media (max-width: $mobile) {
		max-height: rem(3 * 82 + 14);
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&__list {
	}
	&__item {
		display: flex;
		gap: rem(20);
		padding: rem(16) rem(29);
		position: relative;
		transition: background 0.3s;
		@media (max-width: $pc) {
			padding: rem(12) rem(29);
		}
		@media (max-width: $tablet) {
			padding: rem(12) rem(20);
		}
		@media (max-width: $mobile) {
			padding: rem(8) rem(20);
			gap: rem(12);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #eaeaea;
			}
		}
		&:not(:last-child) {
			border-bottom: rem(1) solid #eaeaea;
		}
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__image {
		flex: 0 0 rem(81);
		width: rem(81);
		@media (max-width: $pc) {
			flex: 0 0 rem(65);
			width: rem(65);
		}
		@media (max-width: em(1219.98)) {
			display: none;
		}
		@media (max-width: $tablet) {
			display: block;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__middle {
		flex: auto;
	}
	&__name {
		font-weight: 500;
		line-height: 1.2;
		max-height: rem(41);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		@media (max-width: $mobile) {
			font-size: rem(16);
			max-height: rem(38);
		}
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
	&__descr {
		font-size: rem(14);
		line-height: math.div(18, 14);
		color: #808080;
	}
	&__price {
		font-weight: 500;
		line-height: math.div(21, 17);
		white-space: nowrap;
		align-self: center;
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
	}
}

.serv-actions {
	@media (max-width: $mobile) {
		display: none;
	}
	&__list {
		display: flex;
		gap: rem(24);
		@media (max-width: $tablet) {
			gap: rem(20);
		}
	}
	&__item {
		flex: 0 0 rem(50);
		width: rem(50);
		height: rem(50);
		@media (max-width: $tablet) {
			flex: 0 0 rem(40);
			width: rem(40);
			height: rem(40);
		}
	}
	&__btn {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
				.serv-actions__descr {
					opacity: 1;
					top: 100%;
					color: $mainColor;
				}
			}
		}
	}
	&__descr {
		position: absolute;
		top: calc(100% + rem(10));
		opacity: 0;
		transition: 0.3s;
		left: 50%;
		transform: translate(-50%, 0);
		font-size: rem(15);
		pointer-events: none;
	}
	&__icon {
		flex: 0 0 rem(24);
		width: rem(24);
		height: rem(24);
		// &_fav {
		// 	background-image: url("@img/icons/fav-icon.svg");
		// }
		// &_comp {
		// 	background-image: url("@img/icons/comp-icon.svg");
		// }
	}
	&__count {
		font-size: rem(13);
		line-height: math.div(16, 13);
		color: #000;
		padding: rem(3) rem(7);
		min-height: rem(23);
		background: #eaeaea;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: rem(23);
		position: absolute;
		top: rem(-4);
		right: rem(-9);
		@media (max-width: $tablet) {
			top: rem(-6);
			right: rem(-10);
		}
	}
}

//====================================================================================================

.sidebar {
	position: absolute;
	top: 100%;
	background-color: #fff;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	left: -100%;
	transition: 0.5s;
	border-top: rem(1) solid #e8e8e8;
	@media (min-width: $tablet) {
		max-height: calc(100vh - rem(246));
		// border-bottom-right-radius: rem(15);
	}
	@media (max-width: $tablet) {
		transition: 0.3s;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.sub-menu-show & {
		overflow: hidden;
		touch-action: none;
	}
	.menu-open & {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		left: 0;
	}
	&__wrapper {
		overflow: auto;
		padding: rem(44) rem(28) rem(44) 0;
		height: 100%;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		@media (min-width: $tablet) {
			max-height: calc(100vh - rem(246));
		}
		@media (max-width: $tablet) {
			padding: rem(25) rem(20) rem(25) 0;
		}
	}
	&__list {
		padding-bottom: rem(30);
		border-bottom: rem(1) solid #e8e8e8;
		@media (max-width: $tablet) {
			padding-bottom: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__item {
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		.sub-sidebar {
		// 			opacity: 1;
		// 			visibility: visible;
		// 			pointer-events: auto;
		// 			left: 100%;
		// 		}
		// 	}
		// }
		&:not(:last-child) {
			margin-bottom: rem(15);
			@media (max-width: $mobile) {
				margin-bottom: rem(10);
			}
		}
	}
	&__link {
		cursor: pointer;
		color: #000;
		display: flex;
		align-items: center;
		gap: rem(10);
		transition: opacity 0.3s;
		padding: rem(5) rem(0);
		width: 100%;
		line-height: math.div(21, 17);
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__link-icon {
		margin-left: auto;
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(10);
	}
}

.sidebar-head {
	padding-bottom: rem(20);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom: rem(1) solid #eaeaea;
	position: relative;
	@media (min-width: $tablet) {
		display: none;
	}
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
	&__logo {
		width: rem(134);
		@media (max-width: $mobile) {
			width: rem(122);
		}
		@media (max-width: $mobileSmall) {
			width: rem(111);
		}
		img {
			width: 100%;
			height: auto;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
			@media (max-width: $mobile) {
				margin-bottom: rem(5);
			}
		}
	}
	&__descr {
		font-weight: 500;
		color: #000;
		line-height: math.div(14, 11);
		@media (max-width: $tablet) {
			font-size: rem(14);
		}
		@media (max-width: $mobile) {
			font-size: rem(12);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(11);
		}
	}
	&__close {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: rem(25);
		height: rem(25);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: rem(2);
			background: #000;
			transition: background 0.3s;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.pages-sidebar {
	padding-bottom: rem(30);
	border-bottom: rem(1) solid #e8e8e8;
	@media (max-width: $tablet) {
		padding-bottom: rem(20);
	}
	&:not(:last-child) {
		margin-bottom: rem(30);
		@media (max-width: $tablet) {
			margin-bottom: rem(20);
		}
	}
	&__cap {
	}
	&__list {
	}
	&__item {
		a {
			line-height: math.div(21, 17);
			color: $gray;
			transition: opacity 0.3s;
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.7;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
			@media (max-width: $mobile) {
				margin-bottom: rem(15);
			}
		}
	}
}
.sidebar-contacts {
	&__label {
	}
	&__lines {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__line {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(7);
		position: relative;
		padding-left: rem(39);
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(25);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(15);
			}
		}
	}
	&__line-icon {
		position: absolute;
		top: 0;
		left: 0;
		flex: 0 0 rem(24);
		width: rem(24);
		height: rem(24);
	}
	&__address,
	&__mail,
	&__phone {
		font-weight: 500;
		color: #000;
		line-height: math.div(21, 17);
		font-size: rem(16);
		@media (max-width: $tablet) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	&__mail,
	&__phone {
		transition: opacity 0.3s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__worktime {
		font-size: rem(16);
		color: #717171;
		line-height: math.div(20, 16);
		@media (max-width: $tablet) {
			font-size: rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
		}
	}
}

a.sidebar-contacts__link {
	font-size: rem(16);
	line-height: math.div(20, 16);
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #717171;
	transition: color 0.3s;
	@media (max-width: $tablet) {
		font-size: rem(15);
	}
	@media (max-width: $mobile) {
		font-size: rem(14);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(13);
	}
	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
		}
	}
}

.sidebar-label {
	font-size: rem(13);
	text-transform: uppercase;
	color: #909195;
	line-height: math.div(16, 13);
	@media (max-width: $mobileSmall) {
		font-size: rem(12);
	}
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
}

//========================================================================================================================================================

.sub-sidebar {
	position: absolute;
	top: 0;
	left: -100%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	padding: rem(44) rem(35) rem(35) rem(31);
	@media (min-width: $tablet) {
		max-width: rem(310);
	}
	@media (max-width: $tablet) {
		padding: rem(44) rem(28) rem(44) rem(20);
		z-index: 2;
	}
	.sub-menu-show & {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		left: 100%;
		@media (max-width: $tablet) {
			left: 0;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		padding-bottom: rem(20);
		border-bottom: rem(1) solid #eaeaea;
		@media (min-width: $tablet) {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__back {
		display: inline-flex;
		align-items: center;
		gap: rem(10);
		font-size: rem(15);
		color: #000;
		line-height: math.div(18, 14);
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	&__back-icon {
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(10);
		transform: scaleX(-1);
	}
	&__close {
		flex: 0 0 rem(25);
		width: rem(25);
		height: rem(25);
		position: relative;
		@media (min-width: $tablet) {
			display: none;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: rem(2);
			background: #000;
			transition: background 0.3s;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__list {
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__link {
		color: $gray;
		display: flex;
		align-items: center;
		gap: rem(10);
		transition: opacity 0.3s;
		line-height: math.div(21, 17);
		@media (max-width: $tablet) {
			padding: rem(5) rem(0);
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__link-icon {
		flex: 0 0 rem(12);
		width: rem(12);
		height: rem(10);
		margin-left: auto;
	}
}
